*.swo
*.swp
.deps
.dirstamp
.ruby-version
.sass-cache
_site
aclocal.m4
autoscan.log
autom4te.cache
compile
config.guess
config.h
config.h.in
config.h.in~
config.log
config.status
config.sub
configure
depcomp
Gemfile.lock
install-sh
Makefile
Makefile.in
missing
simplicity
stamp-h1

/*.tar.gz

